/* 
    Document   : custom
    Created on : Dec 19, 2011, 7:22:41 PM
    Author     : kcmckell
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

header {
    padding-bottom: 20px;
}

footer {
/*    text-align: center;*/
}

footer #username {
/*    background-image: url(../img/footersprite.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;*/
}

#subfoot {
    font-size: x-small
}

#blogdiv > iframe {
    width: 90%;
}

#cvdiv > iframe {
    width: 90%;
}

details > div {
    padding-left: 1em;
/*    text-indent: 1em;*/
}

div#content img.classimg {
    float: right;
    max-width: 480px;
    width: 38%;
}

.flexslider .slides img {
    display: inline;
}

.slides li {
    text-align: center;
    background: rgba(61,51,51,0.5);
}

.flexslider {
    background: transparent;
}

.slides li p {
    text-align: left;
}

.slides li span.caption_head {
    display: block;
    font-weight: bold;
    font-size: 120%;
}

.flexslider .flex-pauseplay {
    text-align: center;
}

table.schedule th, td {
	padding: .5em .5em;
}

table.schedule tbody, tr:first-child {
	border: 1px solid #222;
}

table.schedule tr:nth-child(even) {
	background-color: #C4C4C4;
}

table.schedule tr td:nth-child(1), td:nth-child(3) {
	text-align: center;
}

table.result .header {
    visibility: hidden;
    display: none;
}

.bibref, .bibitem {
    padding: 3px;
}

.bibitem summary.abstract {
    font-style: italic;
}

div[class*="grid"] section:not(:first-child) {
    margin-top: 2.5em;
}

article {
    border-bottom: 2px dashed #aaa;
    margin-bottom: 2em;
}

article > hgroup > h1 {
    font-size: x-large;
}

aside#recentposts {
    background: rgba(10,10,10,0.2);
}

aside#recentposts ul {
    list-style: none;
}

aside#recentposts > h1 {
    font-size: x-small;
}

aside#recentposts img {
    max-width: 120px;
    margin-bottom: 1em;
}

aside#recentposts > hgroup {
    padding-left: 5%;
    padding-right: 5%;
}

.recentpost h1 {
    font-size: medium;
}

nav#topnav > ul.sf-menu {
    margin-top: 0;
}

.clipwrapper {
    position: relative;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.clip {
    position: absolute;
    top: 0;
    left: 0;
}

#social img {
    max-width: none; /*Needed to override*/
}

.pos-1 { clip: rect(0 100px 100px 0); }
.pos-2 { clip: rect(0 200px 100px 100px); left: -100px; }
.pos-3 { clip: rect(0 300px 100px 200px); left: -200px;  }
.pos-4 { clip: rect(0 400px 100px 300px); left: -300px;  }
.pos-5 { clip: rect(0 500px 100px 400px); left: -400px;  }
.pos-6 { clip: rect(0 600px 100px 500px); left: -500px;  }
.pos-7 { clip: rect(0 700px 100px 600px); left: -600px;  }
.pos-8 { clip: rect(0 800px 100px 700px); left: -700px;  }
.pos-9 { clip: rect(0 900px 100px 800px); left: -800px;  }
.pos-10{ clip: rect(0 1000px 100px 900px);left: -900px; }

nav#secondary-navigation > ul {
    padding: 0;
} 

a#moreposts {
    background-color: rgb(61,51,51);
    background-color: rgba(61,51,51,0.85); 
    font-weight:bold; 
    text-align:center; 
    padding:10px 0; 
    cursor:pointer;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.activate {
    background: url(../img/ajax-loader.gif) no-repeat 50% 50%;
}
